# Arquivos de configuração com informações sensíveis
config.env
.env
*.db
*.sqlite
*.sqlite3

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
env/
ENV/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Build do executavel
build/
dist/
release/*.exe
public-release/
*.spec

# IDE
.vscode/
.idea/

# Flask
instance/
.webassets-cache
