# Arquivos de configuração com informações sensíveis
config.env
.env

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
env/
ENV/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Flask
instance/
.webassets-cache